{% extends 'base.html' %}

    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/cs-skin-elastic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    {% endblock styles %}

        {% block content %}
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Dashboard</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">Dashboard</a></li>
                                    <li><a href="#">Charts</a></li>
                                    <li class="active">Chartjs</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Yearly Sales </h4>
                                <canvas id="sales-chart"></canvas>
                            </div>
                        </div>
                    </div><!-- /# column -->

                     <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Team Commits </h4>
                                <canvas id="team-chart"></canvas>
                            </div>
                        </div>
                    </div> 
                    
                    <!--
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Bar chart </h4>
                                <canvas id="barChart"></canvas>
                            </div>
                        </div>
                    </div> --> 
                    
                    <!-- 
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Rader chart </h4>
                                <canvas id="radarChart"></canvas>
                            </div>
                        </div>
                    </div>
                    -->
                    <!-- <div class="col-lg-6"> -->
                        <!-- <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Line Chart </h4>
                                <canvas id="lineChart"></canvas>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="mb-3">Doughut Chart </h4>
                                    <canvas id="doughutChart"></canvas>
                                </div>
                            </div>
                        </div> -->
                        <!-- /# column -->

                    <!-- </div> -->
                    <!-- /# column -->

                    <!-- 
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Pie Chart </h4>
                                <canvas id="pieChart"></canvas>
                            </div>
                        </div>
                    </div> -->
                    <!-- /# column -->


                    <!--
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Polar Chart </h4>
                                <canvas id="polarChart"></canvas>
                            </div>
                        </div>
                    </div> -->
                    <!-- /# column -->

                    <!-- <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Single Bar Chart </h4>
                                <canvas id="singelBarChart"></canvas>
                            </div>
                        </div>
                    </div> -->
                    <!-- /# column -->



                </div>

            </div><!-- .animated -->
        </div><!-- .content -->

	
	{% endblock content %}

    {% block scripts %}
    <!--  Chart js -->
    <script>
      // area bar chart
      var ctx = document.getElementById( "comparisonBarChart" );
      //    ctx.height = 200;
      var myChart = new Chart( ctx, {
          type: 'bar',
          data: {
              labels: [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul" ],
              datasets: [
                  {
                      label: "My First dataset",
                      data: [ 65, 59, 80, 81, 56, 55, 45 ],
                      borderColor: "rgba(0, 194, 146, 0.9)",
                      borderWidth: "0",
                      backgroundColor: "rgba(0, 194, 146, 0.5)"
                              },
                  {
                      label: "My Second dataset",
                      data: [ 28, 48, 40, 19, 86, 27, 76 ],
                      borderColor: "rgba(0,0,0,0.09)",
                      borderWidth: "0",
                      backgroundColor: "rgba(0,0,0,0.07)"
                              }
                          ]
          },
          options: {
              scales: {
                  yAxes: [ {
                      ticks: {
                          beginAtZero: true
                      }
                                  } ]
              }
          }
      } );
    </script>
    <script src="{{ url_for('static', filename='assets/js/lib/chart-js/Chart.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/lib/chart-js/chartjs-init.js') }}"></script>
    {% endblock scripts %}
