{% extends 'base.html' %}

    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/cs-skin-elastic.css') }}">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <style>
    #map {
      height: 400px;  /* The height is 400 pixels */
      width: 100%;  /* The width is the width of the web page */
     }
    </style>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    {% endblock styles %}

        {% block content %}
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Dashboard</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <!-- <li><a href="#">Dashboard</a></li>
                                    <li><a href="#">Map</a></li> -->
                                    <li class="active">Gmap</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="content">
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header">
                  </div>
                  <div class="Vector-map-js">
                    <div id="map">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div><!-- .content -->
        {% endblock content %}

    {% block scripts %}
    <script>
    // Initialize and add the map
    var red_marker = "https://storage.googleapis.com/support-kms-prod/SNP_2752125_en_v0";
    var blue_marker = "https://maps.gstatic.com/intl/en_us/mapfiles/markers2/measle_blue.png";

    var icons = {
      location: {
        icon: red_marker,
      },
    };

    function initMap() {

      central_point = {{central_point_json["central_point"]}};
      // The location of Uluru
      // var uluru = {lat: -25.344, lng: 131.036};
      var central = {lat: central_point[0], lng: central_point[1]};
      // The map, centered at Uluru
      var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 8, center: central});
      // The marker, positioned at Uluru
      // var marker = new google.maps.Marker({
      //   position: central, map: map, icon: red_marker
      // });

      var locations = {{ all_waterpoint_locations|tojson }};

      for (var counter = 0; counter < locations.length; counter ++){
        var position = {lat: locations[counter]["lat"], lng: locations[counter]["lon"]}
        var url = "http://kenya-waterpoints.herokuapp.com/"
        var locationName = "<a href='"+url+"waterpoint-info/"+ locations[counter]["id"] +"'>" + locations[counter]["name"]  + "</a>";
        // alert(locationName);

        // infoWindow = new google.maps.InfoWindow({content:locat})
        var newMarker = new google.maps.Marker({
          position: position, map: map, icon: red_marker, clickable: true
        });

        var infoWindow = new google.maps.InfoWindow();

        google.maps.event.addListener(newMarker, 'click', (function(newMarker, locationName, infoWindow){
          return function(){
            infoWindow.setContent(locationName);
            infoWindow.open(map, newMarker);
          };
        })(newMarker, locationName, infoWindow));

      }

      var location = {{ suitable_point|tojson }};
      var position = {lat: location[0], lng: location[1]};

      var locationName = "most recommended position";

      var newMarker = new google.maps.Marker({
        position: position, map: map, clickable: true
      });

    }
    </script>

    <!-- Gmaps -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2jlT6C_to6X1mMvR9yRWeRvpIgTXgddM"></script>
    <script src="{{ url_for('static', filename='assets/js/lib/gmap/gmaps.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/lib/gmap/gmap.init.js') }}"></script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOc5I-yi007XYiaDx6wm0ooUC8h5rigLU&callback=initMap">
    </script>

    {% endblock scripts %}
