{% extends 'base.html' %}

    {% block styles %}
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/cs-skin-elastic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/lib/datatable/dataTables.bootstrap.min.css') }}">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">

    {% endblock styles %}

    {% block content %}

    <div class="content">
      <div class="animated fadeIn">

		  <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4>{{ waterpoint_data["name"] }}</h4>
              </div>
              <div class="Vector-map-js">
                <!-- <div id="vmap" class="vmap">
              </div> -->
              <div id="map">
              </div>
            </div>
          </div>
          <!-- /# card -->
        </div>
        <!-- /# column -->
      </div>

		  <div class="row">
        <!--  bein table -->
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <strong class="card-title">Waterpoint information</strong>
            </div>
            <div class="card-body">
              <table id="bootstrap-data-table" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <!-- <th>Office</th>
                    <th>Salary</th> -->
                  </tr>
                </thead>
                <tbody>
                  {% for field in waterpoint_data %}
                    <tr>
                      <td>{{ field }}</td>
                      <!-- <td>{{ waterpoint_data[field]  }}</td> -->
                      {% if 'dict' in mapping.__class__.__name__ %}

                      <td>
                      </td>
                      {% else %}
                      <td>
                        {{ waterpoint_data[field] }}
                      </td>

                      {% endif %}

                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- end table -->
      </div>

		  <!-- <div class="row">
			  <div class="col-lg-12">
				  <div class="card">
					  <div class="card-body">
						  <h4 class="mb-3">popo</h4>
						  <canvas id="sales-chart"></canvas>
					  </div>
				  </div>
			  </div>
		  </div> -->
    </div>
  </div>

    {% endblock content %}

    {% block scripts %}
    <script>
    // Initialize and add the map
    var coordinates = {{waterpoint_data|tojson}};
    if ('lat' in coordinates && 'lon' in coordinates){
      function initMap() {
        // The location of Uluru
        var center = {lat: coordinates['lat'], lng: coordinates['lon']};
        // The map, centered at Uluru
        var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 8, center: center});
          // The marker, positioned at Uluru
          var position = {lat: coordinates['lat'], lng: coordinates['lon']};
          var marker = new google.maps.Marker({position: center, map: map});

          if ('waterpointUsage' in coordinates){
            var population = coordinates['waterpointUsage']['people'];

            var cityCircle = new google.maps.Circle({
              strokeColor: '#FF0000',
              strokeOpacity: 0.8,
              strokeWeight: 2,
              fillColor: '#FF0000',
              fillOpacity: 0.35,
              map: map,
              center: center,
              radius: Math.sqrt(population) * 1000,
            });
          }
        }
      }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
<script>
      // area bar chart
      var ctx = document.getElementById( "comparisonBarChart" );
      //    ctx.height = 200;
      var myChart = new Chart( ctx, {
          type: 'bar',
          data: {
              labels: [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul" ],
              datasets: [
                  {
                      label: "My First dataset",
                      data: [ 65, 59, 80, 81, 56, 55, 45 ],
                      borderColor: "rgba(0, 194, 146, 0.9)",
                      borderWidth: "0",
                      backgroundColor: "rgba(0, 194, 146, 0.5)"
                              },
                  {
                      label: "My Second dataset",
                      data: [ 28, 48, 40, 19, 86, 27, 76 ],
                      borderColor: "rgba(0,0,0,0.09)",
                      borderWidth: "0",
                      backgroundColor: "rgba(0,0,0,0.07)"
                              }
                          ]
          },
          options: {
              scales: {
                  yAxes: [ {
                      ticks: {
                          beginAtZero: true
                      }
                                  } ]
              }
          }
      } );
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOc5I-yi007XYiaDx6wm0ooUC8h5rigLU&callback=initMap">
    </script>


        <script src="{{ url_for('static', filename='assets/js/lib/data-table/datatables.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/lib/data-table/dataTables.bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/lib/data-table/dataTables.buttons.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/lib/data-table/buttons.bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/lib/data-table/jszip.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/lib/data-table/pdfmake.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/lib/data-table/vfs_fonts.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/lib/data-table/buttons.html5.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/lib/data-table/buttons.print.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/lib/data-table/buttons.colVis.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/lib/data-table/datatables-init.js') }}"></script>

		<script src="{{ url_for('static', filename='assets/js/lib/chart-js/Chart.bundle.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/lib/chart-js/chartjs-init.js') }}"></script>

        <script type="text/javascript">
            $(document).ready(function() {
              $('#bootstrap-data-table-export').DataTable();
          } );
      </script>

    {% endblock scripts %}
